In [1]:
import pandas as pd
import requests as rq

In [2]:
##Extração das Informações da tabela “opr_cad_pos”, seria a primeira tabela a receber informações do cad pos 
##(e também serve de ligação para pagamento e movimentação), quando há uma compra as informações “básicas” 
##ficam salvas na tabela.

In [3]:
df_op = pd.read_excel('STG_OPR_ITT.xlsx')
df_op.head(10)

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT,ID_MDL,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1,NaN,45,NaN,341,358,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
1,2,NaN,63,NaN,103,108,67,B99,F,2020-01-16,2020-01-27 10:49:48.15
2,3,NaN,22,NaN,15,16,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
3,4,NaN,48,NaN,9,9,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
4,5,NaN,290,NaN,3,3,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
5,6,NaN,109,NaN,1,1,67,B99,F,2020-01-16,2020-01-27 10:49:48.15
6,7,24231168.0,20,14774641.0,6,7,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
7,8,NaN,59,NaN,235,253,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
8,9,NaN,38,NaN,14,14,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
9,10,NaN,117,NaN,4,4,67,A01,F,2020-01-16,2020-01-27 10:49:48.15

In [4]:
df_op.dtypes

ID_STG_OPR_ITT       int64
VLR_CTRD_CSC       float64
QTD_PCL              int64
VLR_SDO_DDR        float64
QTD_CLI_CAD_POS      int64
QTD_OPR              int64
ID_FNT_ITT           int64
ID_MDL              object
DES_TIP_PSS         object
DAT_RSS_FNT_ITT     object
DAT_INC_DBO         object
dtype: object

In [5]:
df_op['ID_STG_OPR_ITT'] = df_op.ID_STG_OPR_ITT.astype('str')
df_op['ID_FNT_ITT'] = df_op.ID_FNT_ITT.astype('str')
df_op.dtypes

ID_STG_OPR_ITT      object
VLR_CTRD_CSC       float64
QTD_PCL              int64
VLR_SDO_DDR        float64
QTD_CLI_CAD_POS      int64
QTD_OPR              int64
ID_FNT_ITT          object
ID_MDL              object
DES_TIP_PSS         object
DAT_RSS_FNT_ITT     object
DAT_INC_DBO         object
dtype: object

In [6]:
##verificando se existem valores duplicados
df_op['ID_STG_OPR_ITT'].duplicated().sum()

0

In [8]:
df_op.tail()

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT,ID_MDL,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
886,887,85699650.0,105,57998876.0,14,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
887,888,NaN,228,NaN,7,7,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
888,889,NaN,52,NaN,1,1,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
889,890,NaN,182,NaN,1,1,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
890,891,NaN,186,NaN,2,2,67,B03,F,2020-01-16,2020-01-27 10:49:48.15

In [9]:
df_op.to_csv('df_op.csv', index=False, header=True)

In [10]:
print(df_op)

    ID_STG_OPR_ITT  VLR_CTRD_CSC  QTD_PCL  VLR_SDO_DDR  QTD_CLI_CAD_POS  \
0                1           NaN       45          NaN              341
1                2           NaN       63          NaN              103
2                3           NaN       22          NaN               15
3                4           NaN       48          NaN                9
4                5           NaN      290          NaN                3
..             ...           ...      ...          ...              ...
886            887    85699650.0      105   57998876.0               14
887            888           NaN      228          NaN                7
888            889           NaN       52          NaN                1
889            890           NaN      182          NaN                1
890            891           NaN      186          NaN                2

     QTD_OPR ID_FNT_ITT ID_MDL DES_TIP_PSS DAT_RSS_FNT_ITT  \
0        358         67    A04           F      2020-01-16
1        108         67    B99           F      2020-01-16
2         16         67    B05           F      2020-01-16
3          9         67    B03           F      2020-01-16
4          3         67    B03           F      2020-01-16
..       ...        ...    ...         ...             ...
886       15         67    C01           F      2020-01-16
887        7         67    B03           F      2020-01-16
888        1         67    B03           F      2020-01-16
889        1         67    B03           F      2020-01-16
890        2         67    B03           F      2020-01-16

                DAT_INC_DBO
0    2020-01-27 10:49:48.15
1    2020-01-27 10:49:48.15
2    2020-01-27 10:49:48.15
3    2020-01-27 10:49:48.15
4    2020-01-27 10:49:48.15
..                      ...
886  2020-01-27 10:49:48.15
887  2020-01-27 10:49:48.15
888  2020-01-27 10:49:48.15
889  2020-01-27 10:49:48.15
890  2020-01-27 10:49:48.15

[891 rows x 11 columns]